
<main class="bg-white min-h-screen">
  <div class="flex flex-col md:flex-row items-center max-w-screen-xl mx-auto pt-8 pb-16 px-4 md:px-8" style="flex-flow: row wrap;">

    <div class="md:w-1/2 mb-8 md:mb-0">
      <%= image_tag "https://firebasestorage.googleapis.com/v0/b/landing-gen-dev-25ef8.appspot.com/o/1669321113025-602-logincrea.png?alt=media&token=ef9d568d-c3c0-4e1f-9fe1-c5b10061d00b", alt: "Create an account on Avito.ma", class: "w-full" %>
    </div>

    <div class="md:max-w-61 md:w-1/2 flex-grow box-border w-full">
      <div class="pr-2 pb-16 pl-2 m-auto max-w-lg">
        <h2 class="text-2xl font-bold mb-4">Créer un compte Avito.ma</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => ""}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-4">
            <%= f.label :email, class: "block font-bold mb-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border rounded py-3 px-4" %>
          </div>

          <div class="mb-4">
            <%= f.label :password, class: "block font-bold mb-2" %>
            <% if @minimum_password_length %>
            <em class="text-xs">(<%= @minimum_password_length %> caractères minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "w-full border rounded py-3 px-4" %>
          </div>

          <div class="mb-4">
            <%= f.label :password_confirmation, class: "block font-bold mb-2" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full border rounded py-3 px-4" %>
          </div>

          <div class="mb-4">
            <%= f.label :phone_number, class: "block font-bold mb-2" %>
            <%= f.text_field :phone_number, class: "w-full border rounded py-3 px-4" %>
          </div>

          <div class="mb-4">
            <%= f.label :ville_id, class: "block font-bold mb-2" %>
            <%= f.collection_select(:ville_id, Ville.all, :id, :name, {:prompt => "Sélectionnez une ville"}, {:class => "w-full border rounded py-3 px-4"}) %>
          </div>

         <div class="mb-4">
          <label class="block font-bold mb-2" style="color: rgb(45, 45, 45); font-size: 14px; font-weight: 400; letter-spacing: 0.1px; margin: 0px;">
            <input type="checkbox" name="accept_terms" class="mr-2" required>
            <span class="text-sm" style="color: rgb(45, 45, 45); font-size: 14px; font-weight: 400; letter-spacing: 0.1px;">
              J’ai lu et j’accepte les
              <a href="https://aide.avito.ma/conditions-generales-dutilisation-du-service-avito/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: rgb(46, 107, 255);">
                conditions d’utilisation
              </a>
              et je donne mon accord au traitement de mes données personnelles conformément à la
              <a href="https://aide.avito.ma/traitement-des-donnees-personnelles/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: rgb(46, 107, 255);">
                politique de confidentialité
              </a>
            </span>
          </label>
        </div>

          <div class="actions">
            <%= f.submit "Se connecter", class: "w-full bg-blue-500 text-white font-bold py-2 px-4 rounded uppercase" %> <!-- Add w-full class -->
          </div>
        <% end %>

    <div class="text-center mt-5">
       <p class="text-gray-700 mb-4">Vous avez déjà un compte?
         <%= render "devise/shared/links" %>
       </p>
    </div>

      </div>
    </div>
  </div>
</main>