
<%= stylesheet_link_tag "nav", "inter-font", "data-turbo-track": "reload" %>

<nav class="block box-border sticky top-0 -m-2" style="z-index: 1030;
box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
background-color: rgba(255, 255, 255, 0.96);">
    <div class="box-border h-10 bg-gray-900 flex items-center justify-center w-full p-2" style="-webkit-box-align: center;
-webkit-box-pack: center;">
        <div class="max-w-screen-xl box-border w-full mr-auto ml-auto pr-2 pl-2" style="--gutter: 8px;">
            <ul class="mt-0 mb-0 box-border w-full flex h-5 p-0">
                <li class="box-border p-0 text-white flex h-5 items-center relative" style="list-style: outside none none;
-webkit-box-align: center;background-color: rgba(0, 0, 0, 0);border-radius: 15px;transition: all 0.5s ease 0s;margin: 0px 8px;">
<a href="/" class="text-white box-border text-xs items-center justify-center flex" style="text-decoration: none solid rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0);
-webkit-box-align: center;
-webkit-box-pack: center;
padding: 0px 8px;">
<svg class="style-6" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AvitoIconTitleID">
                            <title class="style-7">AvitoIcon Icon</title>
                            <path d="M14.4 6.3l4.4-1.4c.1 0 .3-.2.3-.3 0-.1-.1-.3-.2-.3h-.1l-4.5-1.5-1.9-.6c-.2 0-.3-.1-.5-.1h-.3c-.2 0-.4 0-.6.1l-2.1.6-4 1.4h-.1c-.1 0-.2.2-.2.3 0 .1.1.2.2.3h.1l4 1.4 2.2.8h.5c.2 0 .5 0 .7-.1l.3-.1 1.8-.5zm6.7.6c-.4-.3-.6-.4-1-.4-.2 0-.4 0-.6.1l-5.6 1.7c-.9.2-1.5 1-1.5 1.9v9.4c0 .7.3 1.2.9 1.6.6.4 1.3.4 1.9.2l5.6-2.2c.8-.3 1.1-1 1.1-1.8v-9c0-.6-.3-1.1-.8-1.5M9.8 8.1L3.4 6c-.1 0-.2-.1-.4-.1-.3 0-.3.1-.6.3-.3.3-.5.7-.5 1.1v9.8c0 .6.1 1.1.6 1.3l6.4 2.9c.4.2.9.1 1.3-.1.4-.3.6-.7.6-1.1V9.4c0-.6-.4-1.1-1-1.3" class="style-8"></path>
                        </svg><span class="line">|</span></a></li>
                <li class="style-9"><a href="/" class="style-10">Avito</a></li>
                <li class="style-11"><a href="https://www.moteur.ma/fr/neuf/fiche-technique-prix/?utm_source=avito&amp;utm_medium=black-header" class="style-12">AutoNeuf</a></li>
                <li class="style-13"><a href="https://immoneuf.avito.ma/fr/" class="style-14">ImmoNeuf</a></li>
                <li class="style-15"><a href="https://credit-immo.avito.ma/creditimmobilier/simulateur/comparateur?utm_source=avito&amp;utm_medium=blackheader" class="style-16">Simulateur crédit Immobilier</a></li>
                <li class="style-17"><a href="https://www.avito.ma/fr/boutiques/maroc/" class="style-18">Boutique</a></li>
                <li class="style-19"><a href="https://magazine.avito.ma/" class="style-20">Magazine</a></li>
                <li class="style-21"><a href="/contact/new" class="style-22"><svg class="style-23" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="CustomerServiceTitleID">
                            <title class="style-24">CustomerService Icon</title>
                            <path fill="none" d="M0 0h24v24H0z" class="style-25"></path>
                            <path d="M21 8a2 2 0 012 2v4a2 2 0 01-2 2h-1.062A8.001 8.001 0 0112 23v-2a6 6 0 006-6V9A6 6 0 106 9v7H3a2 2 0 01-2-2v-4a2 2 0 012-2h1.062a8.001 8.001 0 0115.876 0H21zM7.76 15.785l1.06-1.696A5.972 5.972 0 0012 15a5.972 5.972 0 003.18-.911l1.06 1.696A7.963 7.963 0 0112 17a7.963 7.963 0 01-4.24-1.215z" class="style-26"></path>
                        </svg>Aide et renseignements</a></li>
            </ul>
        </div>
    </div>
    <div class="style-27">
        <div class="style-28"><a href="/" class="style-29">
                <div class="style-30">
                    <div class="style-31"><img alt="" aria-hidden="true" role="presentation" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjU2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==" class="style-32" />
                    </div><img alt="avito.ma logo" src="../../assets/images/image.jpg" decoding="async"  class="style-33" />
                </div>
            </a></div>
        <div class="style-34">
            <ul class="style-35">
                <li class="style-36"><a class="style-37">العربية<svg class="style-38" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="TranslateTitleID">
                            <title class="style-39">Translate Icon</title>
                            <path d="M5.164 14.12l-.534 1.308H2.714l3.162-7.094h1.917l3.09 7.094h-1.99l-.524-1.307H5.164zm1.613-3.992l-1.068 2.625h2.115l-1.047-2.625z" class="style-40"></path>
                            <path fill-rule="evenodd" d="M2.74 3h18.52C22.77 3 24 4.19 24 5.652v12.696C24 19.811 22.77 21 21.26 21H2.74C1.23 21 0 19.81 0 18.348V5.652C0 4.19 1.229 3 2.74 3zm0 16.607H12V4.394H2.74c-.717 0-1.3.564-1.3 1.258v12.697c0 .693.583 1.258 1.3 1.258zM20.2 8.284h-1.6c-.24 0-.467.028-.68.083-1.227.458-1.84 1.276-1.84 2.456 0 .527.12.985.36 1.373v.042a.308.308 0 00-.16.041c-.613.333-.92.819-.92 1.457 0 .215.027.423.08.624.26.75.753 1.124 1.48 1.124h2.4l.08-.042c-.393-.804-.82-1.207-1.28-1.207h-1.28c-.193 0-.327-.11-.4-.333.027-.332.16-.499.4-.499h3.28c.053 0 .08-.028.08-.083v-1.082c0-.049-.027-.077-.08-.083h-1.88c-.547 0-.907-.417-1.08-1.25 0-.138.013-.207.04-.207 0-.569.373-.957 1.12-1.166h.72c.427 0 .84-.388 1.24-1.165 0-.048-.027-.076-.08-.083z" clip-rule="evenodd" class="style-41"></path>
                        </svg></a></li>
                <li class="style-42">
                    <span class="style-43">
<% if user_signed_in? %>
  <div class="relative inline-block text-left">
    <div>
      <button class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button">
        <%= current_user.email.split('@').first %>
        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 12a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M15 10a5 5 0 11-10 0 5 5 0 0110 0zm-7.707 3.707a1 1 0 01-1.414 0l-3-3a1 1 0 111.414-1.414L7 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <!-- Dropdown menu -->
    <div id="dropdown" class="origin-top-right absolute right-10 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
      <div class="py-1" aria-labelledby="dropdownDefaultButton">
        <%= link_to "View Profile", edit_user_registration_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900", role: "menuitem" %>
        <%= link_to "Déconnecter", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900", role: "menuitem" %>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "Se connecter", new_user_session_path, class: "style-44" %>
<% end %>



                <li class="style-45"><button type="button" class="style-46"><span class="style-47"><svg class="style-48" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AddTitleID">
                                <title class="style-49">Add Icon</title>
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z" class="style-50"></path>
                            </svg></span>
                            <%= link_to "Déposer une annonce", new_annonce_path %></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const dropdownButton = document.getElementById("dropdownDefaultButton");
  const dropdownMenu = document.getElementById("dropdown");

  dropdownButton.addEventListener("click", () => {
    dropdownMenu.classList.toggle("hidden");
  });

  document.addEventListener("click", (event) => {
    if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
      dropdownMenu.classList.add("hidden");
    }
  });
});

</script>